@inherits Umbraco.Web.Mvc.UmbracoViewPage

@using ClientDependency.Core.Mvc
@using Our.Umbraco.EditLink

@{
    Layout = null;

    Html.RequiresCss("/vendor/bootstrap/css/bootstrap.min.css");
    Html.RequiresCss("/vendor/fontawesome-free/css/all.min.css");
    Html.RequiresCss("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
    Html.RequiresCss("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
    Html.RequiresCss("/css/clean-blog.min.css");

    Html.RequiresJs("/vendor/jquery/jquery.min.js");
    Html.RequiresJs("/vendor/bootstrap/js/bootstrap.bundle.min.js");
    Html.RequiresJs("/js/clean-blog.min.js");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clean Blog - Start Bootstrap Theme</title>

    @Html.RenderCssHere()
</head>
<body>
    @Html.RenderEditLink(Model)
    @Html.Partial("~/Views/Partials/navigation.cshtml")

    @RenderBody()
    @Html.Partial("~/Views/Partials/footer.cshtml")
    @Html.RenderJsHere()
</body>
</html>